$black: #000;
$white : #fff;
$grey: #ccc;
$grey-light: #f1f1f1;

$breakpoints: (
  'x-small': 320px,
  'small':   360px,
  'medium':  600px,
  'tablet':  768px,
  'desktop': 992px,
  'large':   1200px,
  'x-large':   1400px
);

$susy: (
  'columns': susy-repeat(12),
  'gutters': 0,
  'spread': 'narrow',
  'container-spread': 'narrow',
  'svg-grid-colors': hsl(180, 50%, 80%),
);
